/***************************************************************************/
/****** main variables *********/

:root {
  --text-width: 500px;
  --header-height: 40px;
  --title-height: 40px;
  --color-logo: #76323F;
  --color-logo-text: #CDA34F;
  --color-background: #7A9D96;
  --color-text-background: #E9E7DA;
  --color-text: #000000;
  --title-font: 'Nixie One', serif;
  --body-font: 'Slabo', serif;
}

/***************************************************************************/
/****** top-level styles for application *********/

html, body {
  font-family: var(--body-font);
  font-size: 16px;
  color: #000000;
  width: 100%;
  height: max(100vh, 600px);
  margin: 0;
  padding: 0;
  background-color: var(--color-text-background);
}

a {
  color: var(--color-logo);
  text-decoration: none;
}

.fpage-outer {
  width: calc(100vw - 600px);
  height: max(100vh, 600px);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-logo);
  color: #CDA34F;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.fpage {
  position: relative;
  width: 450px;
  top: 25px;
  display: inline-block;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fpage > .title {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-family: var(--title-font);
  font-size: 2.3em;
}

.fpage > .subtitle {
  font-family: var(--title-font);
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 15px;
}

.fpage > .line-break {
  border-top: 2px solid #CDA34F;
  width: 100%;
  height: 2rem;
  margin: 1rem auto 0;
}

.fpage > .byline {
  font-weight: "bold";
  font-size: 1.15em;
  text-align: center;
  padding: 15px;
  font-family: var(--title-font);
}

.fpage > .enter {
  text-align: center;
  padding-top: 60px;
}

.fpage > .enter a {
  display: inline-block;
  color: #ccc;
  font-size: 2em;
  background: var(--color-background);
  cursor:pointer;
  vertical-align:middle;
  max-width: 140px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.fpage > .enter > a:hover {
  color: #000;
  background: #CDA34F;
}

.bpage-outer {
  width: 600px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  color: #000;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

.bpage {
  position: relative;
  width: 500px;
  height: max(100vh, 600px);
  left: 50px;
  padding-top: 20px;
  overflow-y: auto;
}

.bpage .gloss {

}

.bpage .bio {
  padding: 10px 40px 20px 40px;
  font-size: 0.9em;
  line-height: 1.2em;
}

.bpage .colophon {
  position: absolute;
  bottom: 30px;
  text-align: right;
  font-size: 0.9em;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 0px;
  padding-right: 80px;
  background: url("stanford_up_logo.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px), (max-height: 680px) {

  .fpage-outer {
    width: 100vw;
    height: 380px;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--color-logo);
    color: #CDA34F;
    text-align: center;
    font-size: 0.7em;
  }

  .fpage {
    width: min(450px, 90vw);
  }

  .fpage > .byline {
    font-size: 1.4em;
    padding: 5px;
  }

  .fpage > .enter {
    text-align: center;
    padding-top: 30px;
  }

  .bpage-outer {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    right: 0;
    color: #000;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
  }

  .bpage {
    position: relative;
    width: min(90vw, 500px);
    height: auto;
    left: max(5vw, 0.5 * calc(100vw - 500px));
    padding-top: 20px;
  }

  .bpage .colophon {
    font-size: 0.72em;
    margin-top: 40px;
    position: relative;
  }


}
