/***************************************************************************/
/****** main variables *********/

:root {
  --text-width: 500px;
  --header-height: 40px;
  --title-height: 40px;
  --color-logo: #76323F;
  --color-logo-text: #CDA34F;
  --color-background: #7A9D96;
  --color-text-background: #E9E7DA;
  --color-text: #000000;
  --title-font: 'Nixie One', serif;
  --body-font: 'Slabo', serif;
}

/***************************************************************************/
/****** top-level styles for application *********/

html, body {
  font-family: var(--body-font);
  color: #000000;
  width: 100%;
  height: 100%;
  background-color: var(--color-text-background);
}

.container {
}

.hidden-sml {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

/***************************************************************************/
/****** MultiContainer (contains all multimedia in RHS) *********/

#multi-container {
  background-color: var(--color-background);
  position: fixed;
  top: var(--header-height);
  left: var(--text-width);
  width: calc(100vw - var(--text-width));
  height: calc(100vh - 50px);
}

#multi-container > button {
  background-color: #f1f1f1;
  color: black;
  position: fixed;
  border-radius: 4px;
  background-color: #3b3b3b;
  font-size: 1em;
  cursor: pointer;
  opacity: 1;
  height: 30px;
  color: #cccccc;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  transition: all 0.1s ease 0s;
}

#multi-btn-back {
  left: 0px;
  top: 100px;
  visibility: hidden;
  z-index: 200000;
}

#multi-btn-back > button:hover {
  background-color: #4e4e4e;
}

.overlay-btn-grp {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 60px;
  width: 400px;
  z-index: 200000;
}

.overlay-btn-grp button {
  background-color: #3b3b3b;
  font-family: Special Elite;
  font-size: 1.05em;
  cursor: pointer;
  opacity: 1;
  height: 30px;
  color: #cccccc;
  border: none;
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  margin: 5px;
  transition: all 0.1s ease 0s;
  line-height: 0.3em;
}

.overlay-btn-grp button:hover {
  background-color: #4e4e4e;
}

.overlay-btn-grp button:active {
  background-color: #4e4e4e;
  transform: scale(0.96);
}

.overlay-btn-grp > .active {
  color: #CDA34F;
  border-color: #CDA34F;
  border-width: 2px;
}

.overlay-btn-grp > .btn-text {
  width: auto;
  margin-left: 25px;
}

/***************************************************************************/
/****** Footer *********/

footer {
  background-color: var(--color-logo);
  font-family: var(--title-font);
  color: var(--color-logo-text);
  position: fixed;
  bottom: 0;
  width: max(100vw, 1000px);
  height: 40px;
  z-index: 9999;
  display: block;
}

footer > div {
  height: 40px;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border: 0;
}

footer > div div {
  font-size: 0.7em;
  position: relative;
  box-sizing: border-box;
}

footer > div div:nth-child(3) {
  text-align: right;
  padding-right: 40px;
}

footer > div div:nth-child(3)::after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 20px;
  background: url("sup-mark-rev.svg");
  background-position: left center;
  background-repeat: no-repeat;
  transform: translateY(-12px);
  top: 0;
  right: 0;
  text-align: right;
  box-sizing: border-box;
}

/***************************************************************************/
/****** Interactivity => 850px *********/

@media only screen and (max-width: 880px) {

  .mapselect {
    visibility: hidden;
  }


}
